<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>유저리스트</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <div id="bottomOfTableDiv" class="center-block">
        <input id="textSearch" class="text text-defalut text-sm-left" type="text">
        <button id="btnSearch" class="btn btn-primary btn-sm" type="button">검색</button>
    </div>
    <div id="tableDiv" class="table-responsive">

    </div>
   
</body>
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>


<script>
    function htmlTable(data) {
        var htmlStr = "<table class=\"table table-hover\">"
        htmlStr += "<tr style=\"text-overflow:ellipsis; white-space:nowrap; overflow:hidden;\">"
        htmlStr += "<th>#</td><th style='display:none';>키</th><th>상품번호</th><th>상품명</th><th>아이디</th><th>금액</th><th>거래날짜</th><th>판매상태</th><th>결제수단</th>"
        htmlStr += "</tr>"
        var i = 1
        data.forEach(element => {
            htmlStr += "<tr style=\"text-overflow:ellipsis; white-space:nowrap; overflow:hidden\">"
            htmlStr += "<td>" + i++ + "</td>" + "<td>" + element["payment_id"] + "</td>" + "<td>" + element["register_title"] + "</td>" + "<td>" + element["user_id"] + "</td>"
            htmlStr += "<td>" + element["payment_amount"] + "</td>" + "<td>" + element["payment_date"] + "</td>" + "<td>" + element["payment_status"] + "</td>"
            htmlStr += "<td>" + element["payment_type"] + "</td>"
            htmlStr += "</tr>"
        });
        htmlStr += "</table>"

        $("#tableDiv").html(htmlStr)
    }

    $(document).ready(() => {

        $.ajax({
            url: "/payment/payment",
            dataType: "json",
            type: "GET",
            success: function (data) {
                htmlTable(data)
            },
            error: function (err) {
                var htmlStr = "<table class=\"table table-hover\">"
                htmlStr += "<tr style=\"text-overflow:ellipsis; white-space:nowrap; overflow:hidden;\">"
                htmlStr += "<th>#</td><th>상품번호</th><th>상품명</th><th>아이디</th><th>금액</th><th>거래날짜</th><th>판매상태</th><th>결제수단</th>"
                htmlStr += "</tr>"
                htmlStr += "</table>"

                $("#tableDiv").html(htmlStr)
            }
        })

        // $('#btnSearch').click(function () {
        //     var search = $("textSearch").val()

        //     $.ajax({
        //         url: "/user/search",
        //         dataType: "json",
        //         type: "GET",
        //         data:{
        //             search:search
        //         },
        //         success: function (data) {
        //             htmlTable(data)
        //         }
        //     })
        // })
    })
</script>



</html>