<style>
    .scroll::-webkit-scrollbar {
    display: none; 
}
</style>
<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed">
    <ul class="custom-scrollbar scroll" style="overflow: auto; ">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="/"><img src="" class="img-fluid flex-center"></a>
            </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect arrow-r">

                        </a>
                        <div class="collapsible-body">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="waves-effect">회원관리</a>
                                    <a class="waves-effect">주문내역</a>
                                </li>                                
                            </ul>
                        </div>
                   </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->