<script src="/public/js/common.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!DOCTYPE html>
<html>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">



    <!--검색 추가 수정 삭제 -->
    <div class="view-cascade overlay gradient-card-header narrower z-depth-1 d-flex justify-content-between align-items-center ml-2 mr-2"
    style="flex-flow: row wrap;">
    <div class="form-inline mr-auto my-1">
    
       <input id="textSearch" class="text text-defalut text-sm-left" type="text" placeholder="아이디">
      <a type="button"  id="btnSearch" class="fas fa-search ml-3 mt-1" ></a> 


        <div>
            <a type="button" class="btn-lg transparent" data-toggle="tooltip" data-placement="top"
            title="추가" onclick="addModal()"><i class="fas fa-plus fa-large" aria-hidden="true"></i></a>
            <a type="button" class="btn-lg transparent"  data-toggle="tooltip" data-placement="top"
            title="수정" onclick="modifyModal()"><i class="fas fa-pencil-alt fa-large" aria-hidden="true"></i></a>    
        </div>               
        </div>
       
    </div>
    <!--테이블-->
    <div id="tableDiv" class="table-responsive"></div>

    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="userInfoModal"
aria-hidden="true" data-backdrop="false">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card mb-4">
        <div class="modal-header">
            <h6 class="modal-title"></h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                    </div>
            </div>       
        </div>
        <div class="modal-footer">
            <gb-button class="input-group-text purple white-text" ID="add" Text="추가" Icon="fas fa-plus" visibility="no" clickEvent="Add()"></gb-button>
            <gb-button class="input-group-text purple white-text" ID="modify" Text="수정" Icon="fas fa-save" clickEvent="Modify()"></gb-button>
            <gb-button ID="close" class="input-group-text purple white-text" Text="닫기" Icon="fas fa-times" clickEvent="Close()"></gb-button>
        </div>
    </div>
</div>
<!-- Modal -->

<script>
    function htmlTable(data) {
        var htmlStr = "<table class=\"table table-hover\">"
        htmlStr += "<tr style=\"text-overflow:ellipsis; white-space:nowrap; overflow:hidden;\">"
        htmlStr += "<th>#</td><th>아이디</th><th>비밀번호</th><th>로그인타입</th><th>닉네임</th><th>유형</th><th>전화번호</th><th>주소</th><th>포인트</th><th>계좌</th><th>가입날짜</th>"
        htmlStr += "</tr>"
        var i = 1
        data.forEach(element => {
            htmlStr += "<tr style=\"text-overflow:ellipsis; white-space:nowrap; overflow:hidden\">"
            htmlStr += "<td>" + i++ + "</td>" + "<td>" + element["user_id"] + "</td>" + "<td>" + element["user_pw"] + "</td>" + "<td>" + element["user_login_type"] + "</td>"
            htmlStr += "<td>" + element["user_nickname"] + "</td>" + "<td>" + element["user_type"] + "</td>" + "<td>" + element["user_phone"] + "</td>"
            htmlStr += "<td>" + element["user_address"] + "</td>" + "<td>" + element["user_point"] + "</td>" + "<td>" + element["user_bank"] + " " + element["user_account"] + "</td>"
            htmlStr += "<td>" + element["user_join_date"] + "</td>"
            htmlStr += "</tr>"
        });
        htmlStr += "</table>"

        $("#tableDiv").html(htmlStr)
    }

    $(document).ready(() => {

        $.ajax({
            url: "/user",
            dataType: "json",
            type: "GET",
            success: function (data) {
                htmlTable(data)
            }
        })
        $('#btnSearch').click(function () {
            var search = $("#textSearch").val()
            $.ajax({
                url: "/user/search",
                dataType: "json",
                type: "POST",
                data:{
                    search:search
                },
                success: function (data) {
                    htmlTable(data)
                }
            })
        })
    })
    function addModal() {
            $('#modal').modal("show");
        }
        function modifyModal() {
            $('#modal').modal('show');
        }
</script>



</html>
